<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="tamplate1">

<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
<div  class="container mt-2">
<div class="card">
    <div class="card-header">
        Liste des Patients
    </div>
    <div class="card-body">
        <form th:action="@{index}" method="get">
            <label>Keyword:</label>
            <input  class="form-control" type="text" name="keyword" th:value="${keyword}">
            <button type="submit" class="btn  btn-info">chercher</button>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Malade</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${listPatients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.dateNaissance}"></td>
                <td th:text="${patient.malade}"></td>
                <td th:text="${patient.score}"></td>
                <td>
                    <a onclick="javascript:return confirm('etes vous sur de vouloir supprimer ?')" th:href="@{delete(id=${patient.id}, keyword=${keyword}, page=${currentPage})}" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a  th:href="@{editPatient(id=${patient.id}, keyword=${keyword}, page=${currentPage})}" class="btn btn-success">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li th:each="value , item : ${pages}">
                <a  th:href="@{index(page=${item.index}, keyword=${keyword})}"
                    th:class="${(currentPage == item.index) ? 'btn btn-info ms-1' : 'btn btn-outline-info ms-1'}"
                     th:text="${1+item.index}"></a></li>
        </ul>
    </div>
</div>
</div></div>
</body>
</html>
